* {box-sizing: border-box;}

.simple {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}

.simple > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
.simple {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.simple > div {
  flex: 1 1 150px;
}
